
<div class="title">§viewAddImageTitle§<img src="/img/icon/close.svg" id="add-image-close" class="close" /></div>
<div class="splitter"></div>
<div id="add-image-content" class="content">

    <section>

        <ul id="add-image-category-list" class="section-list">

            <li data="browse" id="add-image-browse"><span>§viewAddImageBrowse§</span></li>
            <li data="url" id="add-image-url"><span>§viewAddImageURL§</span></li>
            <li data="stock" id="add-image-stock"><span>§viewAddImageStock§</span></li>
            <!--<li data="cloud" id="add-image-cloud"><span>cloud</span></li>-->
        </ul>
    </section>
</div>
<div class="bottom">
    <a class="button negative" id="add-image-cancel">§close§</a>
</div>