
    <span id="history" style="margin-right:32px;">
        <a class="disabled" id="undo" title="§viewBottomBarUndoTT§"><img src="/img/icon/undo-small.svg">§viewBottomBarUndo§</a>
        <a class="disabled" id="redo" title="§viewBottomBarRedoTT§"><img src="/img/icon/redo-small.svg">§viewBottomBarRedo§</a>
    </span>
  
    <a class="button negative" id="close" title="§viewBottomBarCloseTT§">§close§</a>
    <a class="button positive" id="save" title="§viewBottomBarSaveTT§">§save§</a>

