
<div class="title">§viewFilterTitle§<img src="/img/icon/close.svg" id="filter-close" class="close" /></div>
<div class="splitter"></div>
<div id="filter-content" class="content">

    <section id="filter-layer-locked">
        <span class="tip pad-20"><img src="/img/icon/tip-lock.svg" class="tip-icon"/>§viewFilterLocked§</span>
    </section>

    <section id="filter-settings" >
        <div id="filter-debug" style="display: none">
            <a class="button outline pad-10" id="filter-preset-print">make preset</a>
            <div class="splitter"></div>
        </div>

        <label class="hl pad-20">§viewFilterDetails§</label>

        <div id="sharpen" class="range-box pad-20"></div>
        <div id="clarity" class="range-box"></div>
        <div id="smooth" class="range-box"></div>
        <div id="blur" class="range-box"></div>
        <div id="grain" class="range-box"></div>

        <div class="splitter"></div>

        <label class="hl">§viewFilterScene§</label>

        <div id="vignette" class="range-box pad-20"></div>
        <div id="fringe" class="range-box"></div>
        <div id="dehaze" class="range-box"></div>
        <div id="bloom" class="range-box"></div>
        <div id="glamour" class="range-box"></div>
        <div id="posterize" class="range-box"></div>
        <div id="pixelate" class="range-box"></div>
        <div id="mosaic" class="range-box"></div>

        <div class="pad-20"></div>
    </section>

</div>

<div class="bottom">
    <a class="button does negative" id="filter-cancel">§cancel§</a><a class="button does positive" id="filter-apply">§apply§</a>
</div>