
<a id="toggle-home" tooltip="§viewMenuToggleHome§" flow="right"><img src="/img/icon/home-full.svg"/></a>
<div class="splitter"></div>

<div class="vertical-align" style="flex:2;">
    <ul id="tool-menu">
        <li data="properties" id="tool-properties"><img src="/img/tool/properties.svg"></li>
        <li data="arrange" id="tool-arrange"><img src="/img/tool/move.svg"></li>
        <li data="crop" id="tool-crop"><img src="/img/tool/crop.svg"></li>
        <li data="cutout" id="tool-cutout"><img src="/img/tool/cutout.svg"></li>
        <li data="adjust" id="tool-adjust"><img src="/img/tool/adjust.svg"></li>
        <li data="filter" id="tool-filter"><img src="/img/tool/filter.svg"></li>
        <li data="effect" id="tool-effect"><img src="/img/tool/effect.svg"></li>
        <li data="liquify" id="tool-liquify"><img src="/img/tool/liquify.svg"></li>
        <li data="retouch" id="tool-retouch"><img src="/img/tool/retouch.svg"></li>
        <li data="paint" id="tool-paint"><img src="/img/tool/paint.svg"></li>
        <li data="add-text" id="tool-add-text"><img src="/img/tool/add-text.svg"></li>
        <li data="add-element" id="tool-add-element"><img src="/img/tool/add-element.svg"></li>
        <li data="add-image" id="tool-add-image"><img src="/img/tool/add-image.svg"></li>
    </ul>
</div>

<div id="tooltip-properties" class="tooltip">
    <img src="/img/tool/properties-info.jpg" alt="Properties tool info">
    <p>
        <label>§viewMenuProperties§</label>
        §viewMenuPropertiesInfo§
        <small>§viewMenuPropertiesKB§</small>
    </p>
</div>
<div id="tooltip-arrange" class="tooltip">
    <img src="/img/tool/arrange-info.jpg" alt="Arrange tool info">
    <p>
        <label>§viewMenuArrange§</label>
        §viewMenuArrangeInfo§
        <small>§viewMenuArrangeKB§</small>
    </p>
</div>
<div id="tooltip-crop" class="tooltip">
    <img src="/img/tool/crop-info.jpg" alt="Crop tool info">
    <p>
        <label>§viewMenuCrop§</label>
        §viewMenuCropInfo§
        <small>§viewMenuCropKB§</small>
    </p>
</div>
<div id="tooltip-cutout" class="tooltip">
    <img src="/img/tool/cutout-info.jpg" alt="Cutout tool info">
    <p>
        <label>§viewMenuCutout§</label>
        §viewMenuCutoutInfo§
        <small>§viewMenuCutoutKB§</small>
    </p>
</div>
<div id="tooltip-adjust" class="tooltip">
    <img src="/img/tool/adjust-info.jpg" alt="Adjust tool info">
    <p>
        <label>§viewMenuAdjust§</label>
        §viewMenuAdjustInfo§
        <small>§viewMenuAdjustKB§</small>
    </p>
</div>
<div id="tooltip-filter" class="tooltip">
    <img src="/img/tool/filter-info.jpg" alt="Filter tool info">
    <p>
        <label>§viewMenuFilter§</label>
        §viewMenuFilterInfo§
        <small>§viewMenuFilterKB§</small>
    </p>
</div>
<div id="tooltip-effect" class="tooltip">
    <img src="/img/tool/effect-info.jpg" alt="Effect tool info">
    <p>
        <label>§viewMenuEffect§</label>
        §viewMenuEffectInfo§
        <small>§viewMenuEffectKB§</small>
    </p>
</div>
<div id="tooltip-drawing" class="tooltip">
    <img src="/img/tool/liquify-info.jpg" alt="Drawing tool info">
    <p>
        <label>§viewMenuLiquify§</label>
        §viewMenuLiquifyInfo§
        <small>§viewMenuLiquifyKB§</small>
    </p>
</div>
<div id="tooltip-liquify" class="tooltip">
    <img src="/img/tool/liquify-info.jpg" alt="Liquify tool info">
    <p>
        <label>§viewMenuLiquify§</label>
        §viewMenuLiquifyInfo§
        <small>§viewMenuLiquifyKB§</small>
    </p>
</div>
<div id="tooltip-retouch" class="tooltip">
    <img src="/img/tool/retouch-info.jpg" alt="Retouch tool info">
    <p>
        <label>§viewMenuRetouch§</label>
        §viewMenuRetouchInfo§
        <small>§viewMenuRetouchKB§</small>
    </p>
</div>
<div id="tooltip-paint" class="tooltip">
    <img src="/img/tool/draw-info.jpg" alt="Paint tool info">
    <p>
        <label>§viewMenuDrawing§</label>
        §viewMenuDrawingInfo§
        <small>§viewMenuDrawingKB§</small>
    </p>
</div>
<div id="tooltip-add-text" class="tooltip">
    <img src="/img/tool/add-text-info.jpg" alt="Add text tool info">
    <p>
        <label>§viewMenuText§</label>
        §viewMenuTextInfo§
        <small>§viewMenuTextKB§</small>
    </p>
</div>
<div id="tooltip-add-element" class="tooltip">
    <img src="/img/tool/add-element-info.jpg" alt="Add element tool info">
    <p>
        <label>§viewMenuAddElm§</label>
        §viewMenuAddElmInfo§
        <small>§viewMenuAddElmKB§</small>
    </p>
</div>
<div id="tooltip-add-image" class="tooltip">
    <img src="/img/tool/add-image-info.jpg" alt="Add image tool info">
    <p>
        <label>§viewMenuAddImg§</label>
        §viewMenuAddImgInfo§
        <small>§viewMenuAddImgKB§</small>
    </p>
</div>