
<div class="option-icon"><img src="/img/tool/add-text.svg"></div>

<div id="add-text-no-layer">
    <a class="button outline tab-10" id="add-text-button">Add text</a>
</div>

<div id="add-text-settings">

    <a class="button outline tab-10" id="text-edit">Edit</a>
    <div id="text-font-picker" class="font-picker tab-10"></div>
    <div id="text-color" class="tab-10 color-pod square" tooltip="Color" flow="down"></div>

    <div id="text-size" class="range-box tab-20"></div>

    <label class="tab-20">Settings:</label>
    <div id="text-settings" class="icon-drop tab-5"><img src="/img/icon/text-settings.svg"/></div>

    <label class="tab-15">Styles:</label>
    <div id="text-styles" class="icon-drop tab-5"><img src="/img/icon/text-styles.svg"/></div>

    <ul class="icon-button-set tab-20">
        <li id="text-add" tooltip="add new" flow="down"><img src="/img/icon/add.svg"/></li>
        <li id="text-duplicate" tooltip="duplicate" flow="down"><img src="/img/icon/copy.svg"/></li>
        <li id="text-delete" tooltip="delete (del)" flow="down"><img src="/img/icon/delete.svg"/></li>
    </ul>

</div>
