
<div class="option-icon"><img src="/img/tool/clone.svg"></div>

<div id="clone-no-layer" style="display: none">
    <div class="tab-10">Clone only works on image layers, select another layer.</div>
</div>

<div id="clone-settings">
    <label class="tab-10">Mode:</label>
    <div class="switch-field tab-5">
        <input type="radio" id="clone-mode-paint" name="clone-mode" value="paint" /><label for="clone-mode-paint">Paint</label>
        <input type="radio" id="clone-mode-source" name="clone-mode" value="source" checked /><label for="clone-mode-source">Source</label>
    </div>
    <label class="tab-20">Brush:</label>
    <div id="clone-brush"></div>

    <div id="clone-opacity" class="tab-20"></div>

    <input type="checkbox" id="clone-aligned" />
    <label class="switch tab-20" for="clone-aligned"><span></span>Aligned</label>
</div>