
<div class="option-icon"><img src="/img/tool/detail.svg"></div>

<div id="detail-no-layer" style="display: none">
    <div class="tab-10">Blur and sharpen only works on image layers, select another layer.</div>
</div>

<div id="detail-settings">

    <label class="tab-10">Mode:</label>
    <div class="switch-field tab-5">
        <input type="radio" id="detail-mode-blur" name="detail-mode" value="blur" checked/><label for="detail-mode-blur">Blur</label>
        <input type="radio" id="detail-mode-sharpen" name="detail-mode" value="sharpen"/><label for="detail-mode-sharpen">Sharpen</label>
    </div>
    <label class="tab-20">Brush:</label>
    <div id="detail-brush"></div>

    <div id="detail-strength" class="range-box tab-20"></div>

</div>
