
<div class="option-icon"><img src="/img/tool/draw.svg"></div>

<div id="draw-no-layer">
    <div class="tab-10">Select a image layer in the layer list or add a new empty layer</div>
</div>

<div id="draw-settings">

    <label class="tab-10">Brush:</label>
    <div id="draw-brush"></div>

    <div id="draw-opacity" class="range-box tab-20"></div>

    <input id="draw-hard-tip" type="checkbox" />
    <label class="switch tab-20" for="draw-hard-tip"><span></span>Hard tip</label>

</div>