
<div class="option-icon"><img src="/img/tool/gradient.svg"></div>

<div id="gradient-no-layer">
    <div class="tab-10">Gradient only works on image layers, select another layer.</div>
</div>

<div id="gradient-settings">

    <label class="tab-10">Type:</label>
    <div class="switch-field tab-5">
        <input type="radio" id="gradient-type-linear" name="gradient-type" value="linear" checked/><label for="gradient-type-linear">Linear</label>
        <input type="radio" id="gradient-type-radial" name="gradient-type" value="radial"/><label for="gradient-type-radial">Radial</label>
    </div>

    <div id="gradient-grad" class="tab-20"></div>
    <div id="gradient-opacity" class="tab-20"></div>

    <label class="tab-20">Blend:</label>
    <div class="select">
        <select id="gradient-blend">
            <option value="">§blendModeNone§</option>
            <option value="multiply">§blendModeMultiply§</option>
            <option value="screen">§blendModeScreen§</option>
            <option value="overlay">§blendModeOverlay§</option>
            <option value="darken">§blendModeDarken§</option>
            <option value="lighten">§blendModeLighten§</option>
            <option value="color-dodge">§blendModeColorDodge§</option>
            <option value="color-burn">§blendModeColorBurn§</option>
            <option value="hard-light">§blendModeHardLight§</option>
            <option value="soft-light">§blendModeSoftLight§</option>
            <option value="difference">§blendModeDifference§</option>
            <option value="exclusion">§blendModeExclusion§</option>
            <option value="hue">§blendModeHue§</option>
            <option value="saturation">§blendModeSaturation§</option>
            <option value="color">§blendModeColor§</option>
            <option value="luminosity">§blendModeLuminosity§</option>
        </select>
    </div>

</div>