
<div class="option-icon"><img src="/img/tool/lasso.svg"></div>

<div id="lasso-settings">

    <label class="tab-10">Type:</label>            
    <div class="switch-icon-field tab-5">
        <input type="radio" id="lasso-type-free" name="lasso-type" value="free" checked /><label for="lasso-type-free" tooltip="free" flow="down"><img src="/img/icon/lasso-free.svg"/></label>
        <input type="radio" id="lasso-type-polygon" name="lasso-type" value="polygon" /><label for="lasso-type-polygon" tooltip="polygon" flow="down"><img src="/img/icon/lasso-polygon.svg"/></label>
        <input type="radio" id="lasso-type-magnet" name="lasso-type" value="magnet" /><label for="lasso-type-magnet" tooltip="magnetic" flow="down"><img src="/img/icon/lasso-magnet.svg"/></label>
    </div>

    <label class="tab-20">Mode:</label>
    <div class="switch-icon-field tab-5">
        <input type="radio" id="lasso-mode-new" name="lasso-mode" value="new" checked/><label for="lasso-mode-new" tooltip="new selection" flow="down"><img src="/img/icon/selection-new.svg"/></label>
        <input type="radio" id="lasso-mode-add" name="lasso-mode" value="add" /><label for="lasso-mode-add" tooltip="add to selection" flow="down"><img src="/img/icon/selection-add.svg"/></label>
        <input type="radio" id="lasso-mode-remove" name="lasso-mode" value="remove" /><label for="lasso-mode-remove" tooltip="remove from selection" flow="down"><img src="/img/icon/selection-remove.svg"/></label>
    </div>

    <div id="lasso-magnet-settings">

        <div id="lasso-magnet-size" class="range-box tab-10"></div>

    </div>

    <div id="lasso-feather" class="range-box tab-10"></div>

    <input type="checkbox" id="lasso-anti-alias" checked />
    <label class="switch tab-20" for="lasso-anti-alias"><span></span>Anti-alias</label>
</div>