
<div class="option-icon"><img src="/img/tool/liquify.svg"></div>

<div id="liquify-no-layer" style="display: none">
    <div class="tab-10">Liquify only works on image layers, select another layer.</div>
</div>

<div id="liquify-settings">

    <label class="tab-10">Method:</label>
    <div class="switch-icon-field tab-5">
        <input type="radio" id="liquify-mode-move" name="liquify-mode" value="MOVE" checked/><label for="liquify-mode-move" tooltip="push" flow="down"><img src="/img/icon/liquify-push.svg" /></label>
        <input type="radio" id="liquify-mode-grow" name="liquify-mode" value="GROW" /><label for="liquify-mode-grow" tooltip="enlarge" flow="down"><img src="/img/icon/liquify-grow.svg"/></label>
        <input type="radio" id="liquify-mode-shrink" name="liquify-mode" value="SHRINK" /><label for="liquify-mode-shrink" tooltip="shrink" flow="down"><img src="/img/icon/liquify-shrink.svg"/></label>
        <input type="radio" id="liquify-mode-swirl-cw" name="liquify-mode" value="SWIRL-CW" /><label for="liquify-mode-swirl-cw" tooltip="swirl right" flow="down"><img src="/img/icon/liquify-swirl-right.svg"/></label>
        <input type="radio" id="liquify-mode-swirl-ccw" name="liquify-mode" value="SWIRL-CCW" /><label for="liquify-mode-swirl-ccw" tooltip="swirl left" flow="down"><img src="/img/icon/liquify-swirl-left.svg"/></label>
        <input type="radio" id="liquify-mode-restore" name="liquify-mode" value="ERASE" /><label for="liquify-mode-restore" tooltip="restore" flow="down"><img src="/img/icon/liquify-restore.svg" /></label>
    </div>

    <div id="liquify-brush-size" class="range-box tab-20"></div>
    <div id="liquify-brush-strength" class="range-box tab-20"></div>
    <div id="liquify-brush-density" class="range-box tab-20"></div>

</div>
