
<div class="splitter"></div>
<ul id="tool-menu">
    <li data="arrange" id="tool-arrange"><img src="/img/tool/arrange.svg"></li>
    <li data="marquee" id="tool-marquee"><img src="/img/tool/marquee.svg"></li>
    <li data="lasso" id="tool-lasso"><img src="/img/tool/lasso.svg"></li>
    <li data="wand" id="tool-wand"><img src="/img/tool/wand.svg"></li>
    <li data="crop" id="tool-crop"><img src="/img/tool/crop.svg"></li>
    <li data="cutout" id="tool-cutout"><img src="/img/tool/cutout.svg"></li>
    <li data="liquify" id="tool-liquify"><img src="/img/tool/liquify.svg"></li>
    <li data="heal" id="tool-heal"><img src="/img/tool/heal.svg"></li>
    <li data="clone" id="tool-clone"><img src="/img/tool/clone.svg"></li>
    <li data="detail" id="tool-detail"><img src="/img/tool/detail.svg"></li>
    <li data="toning" id="tool-toning"><img src="/img/tool/toning.svg"></li>
    <li data="temper" id="tool-temper"><img src="/img/tool/temper.svg"></li>
    <li data="pen" id="tool-pen"><img src="/img/tool/pen.svg"></li>
    <li data="draw" id="tool-draw"><img src="/img/tool/draw.svg"></li>
    <li data="eraser" id="tool-eraser"><img src="/img/tool/eraser.svg"></li>
    <li data="fill" id="tool-fill"><img src="/img/tool/fill.svg"></li>
    <li data="gradient" id="tool-gradient"><img src="/img/tool/gradient.svg"></li>
    <li data="shape" id="tool-shape"><img src="/img/tool/shape.svg"></li>
    <li data="add-text" id="tool-add-text"><img src="/img/tool/add-text.svg"></li>
    <li data="picker" id="tool-picker"><img src="/img/tool/picker.svg"></li>
    <li data="zoom" id="tool-zoom"><img src="/img/tool/zoom.svg"></li>
</ul>

<div id="color-holder">
    <div id="color-main"></div>
    <div id="color-alt"></div>
    <div id="color-switch" tooltip="switch colors (X)" flow="right"><img src="/img/icon/switch.svg"></div>
</div>


<div id="tooltip-arrange" class="tooltip">
    <img src="/img/tool/arrange-info.jpg" alt="Arrange tool info">
    <p>
        <label>Arrange</label>
        Move, transform and change layer settings.
        <small>Keybord shortcut (V)</small>
    </p>
</div>
<div id="tooltip-marquee" class="tooltip">
    <img src="/img/tool/marquee-info.jpg" alt="Marquee select tool info">
    <p>
        <label>Marquee Select</label>
        Create selections with the square and circle selection tool.
        <small>Keybord shortcut (M)</small>
    </p>
</div>
<div id="tooltip-lasso" class="tooltip">
    <img src="/img/tool/lasso-info.jpg" alt="Lasso select tool info">
    <p>
        <label>Lasso Select</label>
        Use the freehand, polygon or magnetic lasso to create a selection.
        <small>Keybord shortcut (L)</small>
    </p>
</div>
<div id="tooltip-wand" class="tooltip">
    <img src="/img/tool/wand-info.jpg" alt="Wand select tool info">
    <p>
        <label>Wand Select</label>
        Use the magic wand to select areas with similar colors.
        <small>Keybord shortcut (W)</small>
    </p>
</div>
<div id="tooltip-crop" class="tooltip">
    <img src="/img/tool/crop-info.jpg" alt="Crop tool info">
    <p>
        <label>Crop</label>
        Trim, cut, rotate and straighten the canvas by free or fixed aspect.
        <small>Keybord shortcut (C)</small>
    </p>
</div>
<div id="tooltip-cutout" class="tooltip">
    <img src="/img/tool/cutout-info.jpg" alt="Cutout tool info">
    <p>
        <label>Cutout / Mask</label>
        Mask areas and/or remove backgrounds, cut out objects or crop/trim individual layers.
        <small>Keybord shortcut (K)</small>
    </p>
</div>
<div id="tooltip-liquify" class="tooltip">
    <img src="/img/tool/liquify-info.jpg"  alt="Liquify tool info">
    <p>
        <label>Liquify</label>
        Grow, shrink and push parts of the image. Use liquify to make subtle adjustments to portraits and other images.
        <small>Keybord shortcut (Q)</small>
    </p>
</div>
<div id="tooltip-heal" class="tooltip">
    <img src="/img/tool/heal-info.jpg"  alt="Heal tool info">
    <p>
        <label>Heal</label>
        Remove spots, unwanted objects, blemishes and clean up images.
        <small>Keybord shortcut (H)</small>
    </p>
</div>
<div id="tooltip-clone" class="tooltip">
    <img src="/img/tool/clone-info.jpg"  alt="Clone tool info">
    <p>
        <label>Clone</label>
        Draw and copy from other areas in an image.
        <small>Keybord shortcut (S)</small>
    </p>
</div>
<div id="tooltip-detail" class="tooltip">
    <img src="/img/tool/detail-info.jpg"  alt="Detail tool info">
    <p>
        <label>Blur / Sharpen</label>
        Draw over areas in the image to shapen or blur details.
        <small>Keybord shortcut (D)</small>
    </p>
</div>
<div id="tooltip-toning" class="tooltip">
    <img src="/img/tool/toning-info.jpg"  alt="Toning tool info">
    <p>
        <label>Dodge / Burn</label>
        Lighten or darken areas of the image to bring out dark areas or dim light ones.
        <small>Keybord shortcut (O)</small>
    </p>
</div>
<div id="tooltip-temper" class="tooltip">
    <img src="/img/tool/temper-info.jpg"  alt="Temper tool info">
    <p>
        <label>Sponge / Color</label>
        Brush vibrance, saturation or temperature in local areas to pop or reduce colors.
        <small>Keybord shortcut (R)</small>
    </p>
</div>
<div id="tooltip-pen" class="tooltip">
    <img src="/img/tool/pen-info.jpg"  alt="Pen tool info">
    <p>
        <label>Pen</label>
        Use different type of creative pens like web, crayons, ink and tail to doodle and draw.
        <small>Keybord shortcut (P)</small>
    </p>
</div>
<div id="tooltip-draw" class="tooltip">
    <img src="/img/tool/draw-info.jpg"  alt="Draw tool info">
    <p>
        <label>Draw</label>
        Create drawings with different brushes and colors.
        <small>Keybord shortcut (B)</small>
    </p>
</div>
<div id="tooltip-eraser" class="tooltip">
    <img src="/img/tool/eraser-info.jpg"  alt="Eraser tool info">
    <p>
        <label>Eraser</label>
        Erase your doodles or parts of an image with a brush, use cutout tool for finer result.
        <small>Keybord shortcut (E)</small>
    </p>
</div>
<div id="tooltip-fill" class="tooltip">
    <img src="/img/tool/fill-info.jpg"  alt="Fill tool info">
    <p>
        <label>Fill</label>
        Fill larger areas with a single color.
        <small>Keybord shortcut (F)</small>
    </p>
</div>
<div id="tooltip-gradient" class="tooltip">
    <img src="/img/tool/gradient-info.jpg"  alt="Gradient tool info">
    <p>
        <label>Gradient</label>
        Draw blends with different colors and transparencies.
        <small>Keybord shortcut (G)</small>
    </p>
</div>
<div id="tooltip-shape" class="tooltip">
    <img src="/img/tool/shape-info.jpg"  alt="Shape tool info">
    <p>
        <label>Shape</label>
        Draw different shapes like squares, circles and lines.
        <small>Keybord shortcut (U)</small>
    </p>
</div>
<div id="tooltip-add-text" class="tooltip">
    <img src="/img/tool/add-text-info.jpg"  alt="Add text tool info">
    <p>
        <label>Text</label>
        Add new text layer or use one of our text templates.
        <small>Keybord shortcut (T)</small>
    </p>
</div>
<div id="tooltip-picker" class="tooltip">
    <img src="/img/tool/picker-info.jpg"  alt="Picker tool info">
    <p>
        <label>Picker</label>
        Pick colors from the image to use with other tools.
        <small>Keybord shortcut (I)</small>
    </p>
</div>
<div id="tooltip-zoom" class="tooltip">
    <img src="/img/tool/zoom-info.jpg"  alt="Zoom tool info">
    <p>
        <label>Zoom</label>
        Magnify in or out of the photo, to focus on different parts.
        <small>Keybord shortcut (Z)</small>
    </p>
</div>