
<div class="option-icon"><img src="/img/tool/pen.svg"></div>

<div id="pen-no-layer">
    <div class="tab-10">Pen only works on image layers, select another layer.</div>
</div>

<div id="pen-settings">

    <label class="tab-10">Variant:</label>
    <div class="select">
        <select id="pen-mode">
            <option value="plain">Plain</option>
            <option value="sketchy" selected>Sketchy</option>
            <option value="parallel">Parallel</option>
            <option value="trail">Trail</option>
            <option value="shaded">Shaded</option>
            <option value="furry">Furry</option>
            <option value="crayon">Crayon</option>
            <option value="ink">Ink</option>
        </select>
    </div>

    <div id="pen-size" class="range-box tab-20"></div>
    <div id="pen-amount" class="range-box tab-20"></div>
    <div id="pen-opacity" class="range-box tab-20"></div>

</div>