
<div class="option-icon"><img src="/img/tool/picker.svg"></div>

<div id="picker-settings">
    
    <label class="tab-10">Target:</label>
    <div class="switch-field tab-5">
        <input type="radio" id="picker-target-main" name="picker-target" value="main" checked /><label for="picker-target-main">Main</label>
        <input type="radio" id="picker-target-alt" name="picker-target" value="alt" /><label for="picker-target-alt">Alter</label>
    </div>

    <label class="tab-20">Shades:</label>
    <div class="color-pod small " id="picker-shade-1"></div>
    <div class="color-pod small " id="picker-shade-2"></div>
    <div class="color-pod small " id="picker-shade-3"></div>
    <div class="color-pod small " id="picker-shade-4"></div>
    <div class="color-pod small " id="picker-shade-5"></div>

    <label class="tab-20">Triadic:</label>
    <div class="color-pod small " id="picker-triad-1"></div>
    <div class="color-pod small " id="picker-triad-2"></div>
    <div class="color-pod small " id="picker-triad-3"></div>

    <label class="tab-20">Tetradic:</label>
    <div class="color-pod small " id="picker-tetra-1"></div>
    <div class="color-pod small " id="picker-tetra-2"></div>
    <div class="color-pod small " id="picker-tetra-3"></div>
    <div class="color-pod small " id="picker-tetra-4"></div> 

    <label class="tab-20">Analogous:</label>
    <div class="color-pod small " id="picker-analo-1"></div>
    <div class="color-pod small " id="picker-analo-2"></div>
    <div class="color-pod small " id="picker-analo-3"></div>

    <label class="tab-20">Complement:</label>
    <div class="color-pod small " id="picker-comp-1"></div>
    <div class="color-pod small " id="picker-comp-2"></div>
</div>