
<div class="option-icon"><img src="/img/tool/shape.svg"></div>

<div id="shape-no-layer">
    <div class="tab-10">Select an image layer in the layer list or add a new empty layer</div>
</div>

<div id="shape-settings">
    <label class="tab-10">Shape:</label>            
    <div class="switch-icon-field tab-5">
        <input type="radio" id="shape-type-square" name="shape-type" value="square" checked /><label for="shape-type-square"><img src="/img/icon/shape-square.svg" title="Square shape"/></label>
        <input type="radio" id="shape-type-circle" name="shape-type" value="circle" /><label for="shape-type-circle"><img src="/img/icon/shape-circle.svg" title="Circle shape"/></label>
        <input type="radio" id="shape-type-triangle" name="shape-type" value="triangle" /><label for="shape-type-triangle"><img src="/img/icon/shape-triangle.svg" title="Triangle shape"/></label>
        <input type="radio" id="shape-type-star" name="shape-type" value="star" /><label for="shape-type-star"><img src="/img/icon/shape-star.svg" title="Star shape"/></label>
        <input type="radio" id="shape-type-heart" name="shape-type" value="heart" /><label for="shape-type-heart"><img src="/img/icon/shape-heart.svg" title="Heart shape"/></label>
        <input type="radio" id="shape-type-line" name="shape-type" value="line" /><label for="shape-type-line"><img src="/img/icon/shape-line.svg" title="Line shape"/></label>
    </div>

    <div id="shape-opacity" class="range-box tab-20"></div>
    <div id="shape-stroke-size" class="tab-20 range-box"></div>

    <div id="shape-fill-settings" class="tab-20">                
        <input type="checkbox" id="shape-fill" checked />
        <label class="switch" for="shape-fill"><span></span>Fill</label>
    </div>

</div>