
<div class="option-icon"><img src="/img/tool/temper.svg"></div>

<div id="temper-no-layer" style="display: none">
    <div class="tab-10">Temper only works on image layers, select another layer.</div>
</div>

<div id="temper-settings">

    <label class="tab-10">Mode:</label>
    <div class="switch-field tab-5">
        <input type="radio" id="temper-mode-increase" name="temper-mode" value="increase" checked/><label for="temper-mode-increase">Increase</label>
        <input type="radio" id="temper-mode-decrease" name="temper-mode" value="decrease"/><label for="temper-mode-decrease">Decrease</label>
    </div>
    <label class="tab-20">Method:</label>
    <div class="switch-field tab-5">
        <input type="radio" id="temper-method-vibrance" name="temper-method" value="vibrance" checked/><label for="temper-method-vibrance">Vibrance</label>
        <input type="radio" id="temper-method-saturation" name="temper-method" value="saturation" /><label for="temper-method-saturation">Saturation</label>
        <input type="radio" id="temper-method-temperature" name="temper-method" value="temperature"/><label for="temper-method-temperature">Temperature</label>
    </div>
    <label class="tab-20">Brush:</label>
    <div id="temper-brush"></div>

    <div id="temper-brush-strength" class="range-box tab-20"></div>
</div>

