
<div class="option-icon"><img src="/img/tool/toning.svg"></div>

<div id="toning-no-layer" style="display: none">
    <div class="tab-10">Toning only works on image layers, select another layer.</div>
</div>

<div id="toning-settings">

    <label class="tab-10">Mode:</label>
    <div class="switch-field tab-5">
        <input type="radio" id="toning-mode-lighten" name="toning-mode" value="lighten" checked/><label for="toning-mode-lighten">Lighten</label>
        <input type="radio" id="toning-mode-darken" name="toning-mode" value="darken"/><label for="toning-mode-darken">Darken</label>
    </div>
    <label class="tab-20">Range:</label>
    <div class="switch-field tab-5">
        <input type="radio" id="toning-range-shadow" name="toning-range" value="shadow"/><label for="toning-range-shadow">Shadow</label>
        <input type="radio" id="toning-range-midtone" name="toning-range" value="midtone" checked/><label for="toning-range-midtone">Mid</label>
        <input type="radio" id="toning-range-highlight" name="toning-range" value="highlight"/><label for="toning-range-highlight">High</label>
    </div>
    <label class="tab-20">Brush:</label>
    <div id="toning-brush"></div>

    <div id="toning-brush-strength" class="range-box tab-20"></div>

</div>

