
<ul id="menu" class="menu">
    <li>
        <a>File</a>
        <ul>
            <li><a id="file-new">New image.. <span>Ctrl + E</span></a></li>
            <li><a id="file-open">Open image.. <span>Ctrl + O</span></a></li>
            <li><a id="file-open-url">Open image URL..</a></li>
            <li><a id="file-search">Stock search.. <span>Ctrl + F</span></a></li>
            <li><a id="file-add-element">Browse Elements ..<span>Ctrl + B</span></a></li>
            <li class="split"></li>
            <li><a id="file-save">Save.. <span>Ctrl + S</span></a></li>
            <li><a id="file-print">Print.. <span>Ctrl + P</span></a></li>
            <li><a id="file-close">Close <span>Ctrl + Q</span></a></li>
        </ul>
    </li>
    <li>
        <a>Edit</a>
        <ul>
            <li><a id="edit-undo">Undo <span>Ctrl + Z</span></a></li>
            <li><a id="edit-redo">Redo <span>Ctrl + Y</span></a></li>
            <li class="split"></li>
            <li><a class="selection disabled" id="edit-cut">Cut <span>Ctrl + X</span></a></li>
            <li><a class="selection disabled" id="edit-copy">Copy <span>Ctrl + C</span></a></li>
            <li><a class="selection disabled" id="edit-clear">Clear <span>DEL</span></a></li>
            <li><a id="edit-paste">Paste <span>Ctrl + V</span></a></li>
            <li class="split"></li>
            <li><a id="edit-free-transform">Free transform <span>Ctrl + R</span></a></li>
            <li><a id="edit-free-distort">Free distort <span>Ctrl + K</span></a></li>
            <li class="more"><a>Transform</a>
                <ul>
                    <li><a id="edit-rotate-left"><img src="/img/icon/rotate-left.svg">Rotate left / ccw</a></li>
                    <li><a id="edit-rotate-right"><img src="/img/icon/rotate-right.svg">Rotate right / cw</a></li>
                    <li><a id="edit-flip-horizontal"><img src="/img/icon/flip-horizontal.svg">Flip horizontal</a></li>
                    <li><a id="edit-flip-vertical"><img src="/img/icon/flip-vertical.svg">Flip vertical</a></li>
                </ul>
            </li>
            <li class="split"></li>
            <li><a class="image" id="edit-stroke">Stroke..</a></li>
            <li><a class="image" id="edit-fill">Fill..</a></li>
            <li class="split"></li>
            <li><a id="edit-selection-all">Select all <span>Ctrl + A</span></a></li>
            <li><a id="edit-selection-pixels">Select pixels </a></li>
            <li><a class="selection disabled" id="edit-selection-deselect">Deselect <span>Ctrl + D</span></a></li>
            <li><a class="selection disabled" id="edit-selection-invert">Invert selection <span>Ctrl + I</span></a></li>
        </ul>
    </li>
    <li>
        <a>Image</a>
        <ul>
            <li><a id="image-image-size">Image size..</a></li>
            <li><a id="image-canvas-size">Canvas size..</a></li>
            <li class="more"><a>Image rotation</a>
                <ul>
                    <li><a id="image-rotate-left"><img src="/img/icon/rotate-left.svg">Rotate left / ccw</a></li>
                    <li><a id="image-rotate-right"><img src="/img/icon/rotate-right.svg">Rotate right / cw</a></li>
                    <li><a id="image-flip-horizontal"><img src="/img/icon/flip-horizontal.svg">Flip horizontal</a></li>
                    <li><a id="image-flip-vertical"><img src="/img/icon/flip-vertical.svg">Flip vertical</a></li>
                </ul>
            </li>
            <li class="split"></li>
            <li><a class="selection disabled" id="image-crop">Crop</a></li>
            <li><a id="image-trim">Trim</a></li>
        </ul>
    </li>
    <li>
        <a>Layer</a>
        <ul>
            <li><a id="layer-new">New layer</a></li>
            <li><a id="layer-duplicate">Duplicate layer</a></li>
            <li><a id="layer-open">Add image as layer..</a></li>
            <li><a id="layer-add-element">Add element layer..</a></li>
            <li><a id="layer-delete">Delete layer</a></li>
            <li class="split"></li>
            <li><a id="layer-rasterize">Rasterize Text / Element</a></li>
            <li class="split"></li>
            <li><a id="layer-merge-down">Merge down</a></li>
            <li><a id="layer-merge-visible">Merge visible</a></li>
            <li><a id="layer-merge-flatten">Flatten image</a></li>
            <li class="split"></li>
            <li><a class="image" id="layer-ai-mask">AI Auto Mask</a></li>
        </ul>
    </li>
    <li>
        <a>Adjustment</a>
        <ul>
            <li><a class="image" id="adjust-auto">Auto Adjust</a></li>
            <li class="split"></li>
            <li><a class="image" id="adjust-brightness-contrast">Brightness & Contrast..</a></li>
            <li><a class="image" id="adjust-temperature-tint">Temperature & Tint..</a></li>
            <li><a class="image" id="adjust-hue-saturation">Hue & Saturation..</a></li>
            <li><a class="image" id="adjust-vibrance">Vibrance..</a></li>
            <li><a class="image" id="adjust-balance">Color balance..</a></li>
            <li><a class="image" id="adjust-lookup">Color lookup..</a></li>
            <li class="split"></li>
            <li><a class="image" id="adjust-highlight-shadows">Highlight & Shadows..</a></li>
            <li><a class="image" id="adjust-exposure">Exposure..</a></li>
            <li class="split"></li>
            <li><a class="image" id="adjust-curves">Curves..</a></li>
            <li><a class="image" id="adjust-levels">Levels..</a></li>
            <li class="split"></li>
            <li><a class="image" id="adjust-threshold">Threshold..</a></li>
            <li><a class="image" id="adjust-posterize">Posterize..</a></li>
            <li><a class="image" id="adjust-desaturate">Desaturate</a></li>
            <li><a class="image" id="adjust-invert">Invert</a></li>
        </ul>
    </li>
    <li>
        <a>Filter</a>
        <ul>
            <li><a class="image" id="filter-effect">Effect Library..</a></li>
            <li class="split"></li>
            <li><a class="image" id="filter-sharpen">Sharpen..</a></li>
            <li><a class="image" id="filter-clarity">Clarity..</a></li>
            <li><a class="image" id="filter-blur">Blur..</a></li>
            <li><a class="image" id="filter-gaussian-blur">Gaussian blur..</a></li>
            <li><a class="image" id="filter-smooth">Smooth..</a></li>
            <li><a class="image" id="filter-grain">Grain..</a></li>
            <li><a class="image" id="filter-denoise">Remove noise..</a></li>
            <li class="split"></li>
            <li><a class="image" id="filter-vignette">Vignette..</a></li>
            <li><a class="image" id="filter-bloom">Bloom..</a></li>
            <li><a class="image" id="filter-glamour">Glamour..</a></li>
            <li><a class="image" id="filter-dehaze">Dehaze..</a></li>
            <li class="split"></li>
            <li><a class="image" id="filter-fringe">Fringe..</a></li>
            <li><a class="image" id="filter-pixelate">Pixelate..</a></li>
            <li><a class="image" id="filter-mosaic">Mosaic..</a></li>
        </ul>
    </li>
    <li>
        <a>View</a>
        <ul>
            <li><a id="view-zoom-in">Zoom In <span>Ctrl + +</span></a></li>
            <li><a id="view-zoom-out">Zoom Out <span>Ctrl + -</span></a></li>
            <li class="split"></li>
            <li><a id="view-zoom-fit">Fit Screen <span>Ctrl + 0</span></a></li>
            <li><a id="view-zoom-fill">Fill Screen <span>Ctrl + 2</span></a></li>
            <li class="split"></li>
            <li><a id="view-zoom-1x">Actual Size 1x <span>Ctrl + 1</span></a></li>
            <li><a id="view-zoom-2x">Zoom 2x</a></li>
            <li><a id="view-zoom-3x">Zoom 3x <span>Ctrl + 2</span></a></li>
            <li class="split"></li>
            <li><a id="view-full-screen">Toggle Full screen<span>F11</span></a></li>
            <li><a id="view-light-mode">Toggle Light / Dark mode</a></li>
        </ul>
    </li>
    <li>
        <a>Help</a>
        <ul>
            <li><a id="help-help">Help</a></li>
            <li><a id="help-tutorials">Tutorials</a></li>
            <li><a id="help-shortcuts">Keyboard Shortcuts..</a></li>
            <li class="split"></li>
            <li id="help-language" class="more"><a>Language</a>
                <ul>
                    <li><a id="help-language-en-us">English<span>English</span></a></li>
                    <li><a id="help-language-fr-fr">Français<span>French</span></a></li>
                    <li><a id="help-language-es-es">Español<span>Spanish</span></a></li>
                    <li><a id="help-language-pt-br">Português do Brasil<span>Brazilian</span></a></li>
                    <li><a id="help-language-ja-jp">DX<span>Japanese</span></a></li>
                </ul>
            </li>
            <li class="split"></li>
            <li><a id="help-instagram" href="https://www.instagram.com/pixlr/" target="new">Our Instagram..</a></li>
            <li><a id="help-facebok" href="https://www.facebook.com/pixlr/" target="new">Our Facebook..</a></li>
            <li class="split"></li>
            <li><a id="help-feedback" href="https://forms.gle/zro9yLLaCrvcfTCv5" target="new">Feedback..<span>Thanks!</span></a></li>
        </ul>
    </li>
</ul>

<div id="option-bar">
    <a id="toggle-home" tooltip="toggle home" flow="right"><img src="/img/icon/home.svg"/></a>
    <div id="option-content" class="option-content"></div>
</div>