
<div class="option-icon"><img src="/img/tool/wand.svg"></div>

<div id="wand-settings">

    <label class="tab-10">Mode:</label>
    <div class="switch-icon-field tab-5">
        <input type="radio" id="wand-mode-new" name="wand-mode" value="new" checked/><label for="wand-mode-new" tooltip="new selection" flow="down"><img src="/img/icon/selection-new.svg"/></label>
        <input type="radio" id="wand-mode-add" name="wand-mode" value="add" /><label for="wand-mode-add" tooltip="add to selection" flow="down"><img src="/img/icon/selection-add.svg"/></label>
        <input type="radio" id="wand-mode-remove" name="wand-mode" value="remove" /><label for="wand-mode-remove" tooltip="remove from selection" flow="down"><img src="/img/icon/selection-remove.svg"/></label>
    </div>

    <div id="wand-tolerance" class="range-box tab-20"></div>

    <div id="wand-feather" class="range-box tab-20"></div>

    <input type="checkbox" id="wand-anti-alias" checked>
    <label class="tab-20 switch" for="wand-anti-alias"><span></span>Anti-alias</label>

    <input type="checkbox" id="wand-contiguous" checked>
    <label class="tab-20 switch" for="wand-contiguous"><span></span>Contiguous</label>

    <input type="checkbox" id="wand-sample-all">
    <label class="tab-20 switch" for="wand-sample-all"><span></span>Sample all layers</label>

</div>