
<div class="option-icon"><img src="/img/tool/zoom.svg"></div>

<div id="zoom-settings">
    
    <label class="tab-10">Mode:</label>
    <div class="switch-field tab-5">
        <input type="radio" id="zoom-mode-plus" name="zoom-mode" value="plus" checked /><label for="zoom-mode-plus">Plus</label>
        <input type="radio" id="zoom-mode-minus" name="zoom-mode" value="minus" /><label for="zoom-mode-minus">Minus</label>
    </div>
    <a class="button outline tab-20" id="zoom-1x">100%</a>
    <a class="button outline tab-10" id="zoom-fit">Fit</a>
    <a class="button outline tab-10" id="zoom-fill">Fill</a>
</div>